/*css mas que todo es para aplicar el hover*/
.root {
    -fx-font-family: 'SansSerif';
    -fx-background-color: #f0f0f0;
}

.button-oscuro {
    -fx-background-color: #001F3F;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.button-claro{
    -fx-background-color: #6A9AB0;
    -fx-text-fill: #EDEDED;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.button-eliminar{
    -fx-background-color: #D9534F;
    -fx-text-fill: #EDEDED;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.button-eliminar:hover {
    -fx-background-color: #E57373; /* Un tono más claro de rojo */
}

.button-normal{
    -fx-background-color:  #3A6D8C;
    -fx-text-fill: #EDEDED;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.hyperlink {
    -fx-text-fill: #EDEDED;
    -fx-underline: false;
}

.button-oscuro:hover {
    -fx-background-color: #77B1CC;
}

.button-claro:hover{
    -fx-background-color: #77B1CC;
}
.button-normal:hover{
    -fx-background-color: #77B1CC;
}

.hyperlink:hover {
    -fx-text-fill: #77B1CC;
    -fx-underline: true;
}

.table-view{
    -fx-base:  #ededed;
    -fx-control-inner-background:  #ededed;
    -fx-background-color:  #ededed;
    -fx-alignment: center;
    -fx-border-color:  #001F3F;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-font-weight: normal;
}

.table-view .button {
    -fx-alignment: center;
    -fx-background-color: #77B1CC;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-margin: 0 auto;
}

.table-view .button:hover{
    -fx-background-color: #001F3F;

}

.table-column{
    -fx-font-size: 14px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}