<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title th:text="'Evento - '+${evento.nombre}"></title>
  <!-- Favicon-->
  <link rel="icon" type="/image/x-icon" href="/assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><center>Organizador de Eventos</center></div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Perfil</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Eventos</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="btn btn-primary" id="sidebarToggle">Menu</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
      <h1 class="mt-4"><span th:text="${evento.nombre}"></span></h1>
      <p><span th:text="${evento.descripcion}"/></p>
      <h4>Inicio del evento</h4>
      <p><span th:text="${fechaInicio}"></span></p>
      <h4>Final del evento</h4>
      <p><span th:text="${fechaFinal}"></span></p>
      <h4>Ubicacion del evento</h4>
      <p><span th:text="${evento.ubicacion}"></span></p>
      <h4>Detalles extra</h4>
      <p><span th:text="${evento.detalles}"></span></p>
      <h4>Organizador del evento:</h4>
      <p th:text="${evento.idUsuario.nombre}"></p>
      <h4>Tipo de evento</h4>
      <p><span th:text="${evento.idTipoEvento.descripcion}"></span></p>
      <p><span th:text="${correo.correo}"/> has sido invitado a este evento <b>Att:<span th:text="${evento.idUsuario.nombre}"></span></b></p>
      <form action="" method="post">
        <input type="hidden" name="id_evento" id="evento" th:value="${evento.id}">
        <input type="hidden" name="id_correo" id="correo" th:value="${correo.id_correo}">
        <input th:if="${estado!=1}" type="submit" value="Aceptar" th:formaction="@{/invitaciones/accept}" class="btn btn-primary">
        <input th:if="${estado!=2}" type="submit" value="Cancelar" th:formaction="@{/invitaciones/cancel}" class="btn btn-secondary">
      </form>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
